extends layout-blog
block content
  article
    a(href="#")
      img(src="images/thumb.png") 
    div(class="preview")
      ul(class="meta")
        li
          a(href="#") Articles
        li
          a(href="#") Web Roundups
      h2 20 JavaScript Frameworks Worth Checking Out
      p(class="post-info")
        a(href="#") Siddharth
        |on Sep 23rd 2011 with  
        a(href="#") 44 comments
      div(class="body")
        p
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          |Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        p
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  